Repository goru00/devops-yandex-practicum: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - local: /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - local: /backend/.gitlab-ci.yml
    strategy: depend

change build
  backend/.gitlab-ci.yml
Due: backend

del sast
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

change ci
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

change include
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

change stage
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

change stage
  .gitlab-ci.yml
Due: none

change stage
  backend/.gitlab-ci.yml
Due: backend

del test && notify job
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

del template sast
  backend/.gitlab-ci.yml
Due: backend

del template sast
  frontend/.gitlab-ci.yml
Due: frontend

change pipelines
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

added template
  .gitlab-ci.yml
Due: none

added template
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

change jobs
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

change frontend
  frontend/.gitlab-ci.yml
Due: frontend

change jobs
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

deploy nexus
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

added deploy
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store-backend.service
  frontend/.gitlab-ci.yml
Due: frontend, backend

change iac
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

change iac
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

change iac
  backend/.gitlab-ci.yml
  backend/pom.xml
  frontend/.gitlab-ci.yml
Due: frontend, backend

change iac
  backend/pom.xml
  frontend/.gitlab-ci.yml
Due: frontend, backend

change iac
  .gitlab-ci.yml
  backend/deploy.sh
  frontend/.gitlab-ci.yml
Due: frontend, backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
